html *
{
   font-family: Arial !important;
}
a {
    text-decoration: none;
    color: #7FFFD4;
}
a:hover:not(.active) {
    text-decoration: underline;
}
body {
    background: url("../credit-to-daniel-leone.jpg") no-repeat center center fixed, #101c1c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: overlay;

}
h1 {
    color: white;
    font-weight: normal;
    font-size: 2.5em;
}
h3 {
    color: white;
    font-size: 1.5em;
    margin: 0em;
}
p {
    color: white;
    font-size: 1.2em;
    margin: 1em 0em;
}
ul.b {
    list-style-type: square;
    margin: 1em;
}
ul.b li {
    color: white;
    font-size: 1.2em;
}
.active {
  background-color: #254444;
}
.banner {
  padding: 1em 0;  
}
.banner>section {
  display: none;
}
.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.content {
  background-color: #254444;
  display: grid;
  grid-template-columns: auto;
  padding: 2em;
  
}
.content>section {
  display: none;
  flex-direction: column;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.2em;
}
.navbar>.nav {
  display: block;
  color: #66CDAA;
  text-align: center;
  padding: 1em 2em;
  float: left;
  text-decoration: none;
} 

.navbar>.nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

:has(#home:checked) [for="home"],
:has(#projects:checked) [for="projects"],
:has(#resume:checked) [for="resume"],
:has(#contact:checked) [for="contact"] {
  cursor: pointer;
  background-color: #254444;
}

/* .banner:has([id="home-banner"]:checked)>section:nth-child(1),
.banner:has([id="projects-banner"]:checked)>section:nth-child(2), 
.banner:has([id="resume-banner"]:checked)>section:nth-child(3),
.banner:has([id="contact-banner"]:checked)>section:nth-child(4){
  display: flex;
} */
  
.content:has([id="home"]:checked)>section:nth-child(1),
.content:has([id="projects"]:checked)>section:nth-child(2), 
.content:has([id="resume"]:checked)>section:nth-child(3),
.content:has([id="contact"]:checked)>section:nth-child(4){
  display: flex;
}

@media screen and (max-width: 1000px) {
  .navbar>.nav {padding: .9em .9em}
  h1{font-size: 2em;}
  .container{width: 90%;}
}